In [1]:
#import
import pandas as pd
import numpy as np
#Read in TU.csv
TU = pd.read_csv("TU.csv")
TU

,ID,train-test,Entry Term (Application),Admit Type,Permanent Postal,Permanent Country,Sex,Ethnicity,Race,Religion,...,SAT Concordance Score (of SAT R),ACT Concordance Score (of SAT R),ACT Concordance Score (of SAT),Test Optional,SAT I Critical Reading,SAT I Math,SAT I Writing,SAT R Evidence-Based Reading and Writing Section,SAT R Math Section,Decision
0,1,train,Fall 2017,FY,87507-7944,United States,F,Non Hispanic/Latino,White,Roman Catholic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2,train,Fall 2019,FY,75082-2652,United States,M,Non Hispanic/Latino,White,NaN,...,1320.0,30.0,NaN,NaN,NaN,NaN,NaN,660.0,720.0,0
2,3,train,Fall 2020,FY,77055-6522,United States,F,Hispanic/Latino,White,Christian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,4,train,Fall 2017,FY,98607-8571,United States,F,Non Hispanic/Latino,Asian,NaN,...,NaN,NaN,NaN,NaN,750.0,770.0,700.0,NaN,NaN,0
4,5,train,Fall 2019,FY,78681-3451,United States,M,Non Hispanic/Latino,White,Christian,...,1290.0,29.0,NaN,NaN,NaN,NaN,NaN,650.0,700.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15138,15139,test,Fall 2020,FY,91006-1737,United States,F,Non Hispanic/Latino,Asian,NaN,...,1270.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15139,15140,test,Fall 2019,FY,77494-5298,United States,F,Non Hispanic/Latino,Asian,Hindu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15140,15141,test,Fall 2020,FY,55443-1016,United States,M,Non Hispanic/Latino,Black or African American,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15141,15142,test,Fall 2018,FY,75024-2138,United States,F,Non Hispanic/Latino,White,NaN,...,1470.0,33.0,NaN,NaN,NaN,NaN,NaN,770.0,740.0,0
15142,15143,test,Fall 2019,FY,78624-6081,United States,F,Non Hispanic/Latino,White,Roman Catholic,...,1220.0,27.0,NaN,NaN,NaN,NaN,NaN,650.0,640.0,1

In [2]:
TU.columns

Index(['ID', 'train-test', 'Entry Term (Application)', 'Admit Type',
       'Permanent Postal', 'Permanent Country', 'Sex', 'Ethnicity', 'Race',
       'Religion', 'First_Source Origin First Source Date', 'Inquiry Date',
       'Submitted', 'Application Source', 'Decision Plan',
       'Staff Assigned Name', 'Legacy', 'Athlete', 'Sport 1 Sport',
       'Sport 1 Rating', 'Sport 2 Sport', 'Sport 2 Rating', 'Sport 3 Sport',
       'Sport 3 Rating', 'Academic Interest 1', 'Academic Interest 2',
       'First_Source Origin First Source Summary', 'Total Event Participation',
       'Count of Campus Visits', 'School #1 Organization Category',
       'School 1 Code', 'School 1 Class Rank (Numeric)',
       'School 1 Class Size (Numeric)', 'School 1 GPA', 'School 1 GPA Scale',
       'School 1 GPA Recalculated', 'School 2 Class Rank (Numeric)',
       'School 2 Class Size (Numeric)', 'School 2 GPA', 'School 2 GPA Scale',
       'School 2 GPA Recalculated', 'School 3 Class Rank (Numeric)',
       'School 3 Class Size (Numeric)', 'School 3 GPA', 'School 3 GPA Scale',
       'School 3 GPA Recalculated', 'ACT Composite', 'ACT English',
       'ACT Reading', 'ACT Math', 'ACT Science Reasoning', 'ACT Writing',
       'SAT I CR + M',
       'SAT R Evidence-Based Reading and Writing Section + Math Section',
       'Permanent Geomarket', 'Citizenship Status', 'Academic Index',
       'Intend to Apply for Financial Aid?', 'Merit Award',
       'SAT Concordance Score (of SAT R)', 'ACT Concordance Score (of SAT R)',
       'ACT Concordance Score (of SAT)', 'Test Optional',
       'SAT I Critical Reading', 'SAT I Math', 'SAT I Writing',
       'SAT R Evidence-Based Reading and Writing Section',
       'SAT R Math Section', 'Decision'],
      dtype='object')

In [3]:
#3 Admit Type (removing variables)
print(TU['Admit Type'].isna().sum())
#No NA.
print(TU['Admit Type'].unique())
#No irregular categories.

#Since the data set only has first years (i.e.,only one category), 
# Admit.Type should be removed in the modeling stage.
TU=TU.drop('Admit Type',axis='columns')
TU

0
['FY']

,ID,train-test,Entry Term (Application),Permanent Postal,Permanent Country,Sex,Ethnicity,Race,Religion,First_Source Origin First Source Date,...,SAT Concordance Score (of SAT R),ACT Concordance Score (of SAT R),ACT Concordance Score (of SAT),Test Optional,SAT I Critical Reading,SAT I Math,SAT I Writing,SAT R Evidence-Based Reading and Writing Section,SAT R Math Section,Decision
0,1,train,Fall 2017,87507-7944,United States,F,Non Hispanic/Latino,White,Roman Catholic,11/18/2016 5:40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2,train,Fall 2019,75082-2652,United States,M,Non Hispanic/Latino,White,NaN,1/30/2017 17:24,...,1320.0,30.0,NaN,NaN,NaN,NaN,NaN,660.0,720.0,0
2,3,train,Fall 2020,77055-6522,United States,F,Hispanic/Latino,White,Christian,1/31/2019 12:35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,4,train,Fall 2017,98607-8571,United States,F,Non Hispanic/Latino,Asian,NaN,6/15/2015,...,NaN,NaN,NaN,NaN,750.0,770.0,700.0,NaN,NaN,0
4,5,train,Fall 2019,78681-3451,United States,M,Non Hispanic/Latino,White,Christian,2/19/2018 11:11,...,1290.0,29.0,NaN,NaN,NaN,NaN,NaN,650.0,700.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15138,15139,test,Fall 2020,91006-1737,United States,F,Non Hispanic/Latino,Asian,NaN,2/19/2018 11:11,...,1270.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15139,15140,test,Fall 2019,77494-5298,United States,F,Non Hispanic/Latino,Asian,Hindu,2/16/2018 16:31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15140,15141,test,Fall 2020,55443-1016,United States,M,Non Hispanic/Latino,Black or African American,NaN,6/25/2019 12:50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15141,15142,test,Fall 2018,75024-2138,United States,F,Non Hispanic/Latino,White,NaN,2/3/2016,...,1470.0,33.0,NaN,NaN,NaN,NaN,NaN,770.0,740.0,0
15142,15143,test,Fall 2019,78624-6081,United States,F,Non Hispanic/Latino,White,Roman Catholic,1/30/2017 17:24,...,1220.0,27.0,NaN,NaN,NaN,NaN,NaN,650.0,640.0,1

In [4]:
# Permanent Postal
print(TU['Permanent Postal'].isna().sum())
print(TU['Permanent Postal'].unique())
TU = TU.drop('Permanent Postal', axis='columns')
TU

162
['87507-7944' '75082-2652' '77055-6522' ... '77494-5298' '55443-1016'
 '78624-6081']

,ID,train-test,Entry Term (Application),Permanent Country,Sex,Ethnicity,Race,Religion,First_Source Origin First Source Date,Inquiry Date,...,SAT Concordance Score (of SAT R),ACT Concordance Score (of SAT R),ACT Concordance Score (of SAT),Test Optional,SAT I Critical Reading,SAT I Math,SAT I Writing,SAT R Evidence-Based Reading and Writing Section,SAT R Math Section,Decision
0,1,train,Fall 2017,United States,F,Non Hispanic/Latino,White,Roman Catholic,11/18/2016 5:40,2/13/2017 19:25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2,train,Fall 2019,United States,M,Non Hispanic/Latino,White,NaN,1/30/2017 17:24,NaN,...,1320.0,30.0,NaN,NaN,NaN,NaN,NaN,660.0,720.0,0
2,3,train,Fall 2020,United States,F,Hispanic/Latino,White,Christian,1/31/2019 12:35,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,4,train,Fall 2017,United States,F,Non Hispanic/Latino,Asian,NaN,6/15/2015,10/18/2016 15:49,...,NaN,NaN,NaN,NaN,750.0,770.0,700.0,NaN,NaN,0
4,5,train,Fall 2019,United States,M,Non Hispanic/Latino,White,Christian,2/19/2018 11:11,NaN,...,1290.0,29.0,NaN,NaN,NaN,NaN,NaN,650.0,700.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15138,15139,test,Fall 2020,United States,F,Non Hispanic/Latino,Asian,NaN,2/19/2018 11:11,NaN,...,1270.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15139,15140,test,Fall 2019,United States,F,Non Hispanic/Latino,Asian,Hindu,2/16/2018 16:31,8/28/2018 9:26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15140,15141,test,Fall 2020,United States,M,Non Hispanic/Latino,Black or African American,NaN,6/25/2019 12:50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15141,15142,test,Fall 2018,United States,F,Non Hispanic/Latino,White,NaN,2/3/2016,9/10/2017 10:24,...,1470.0,33.0,NaN,NaN,NaN,NaN,NaN,770.0,740.0,0
15142,15143,test,Fall 2019,United States,F,Non Hispanic/Latino,White,Roman Catholic,1/30/2017 17:24,2/19/2018 11:19,...,1220.0,27.0,NaN,NaN,NaN,NaN,NaN,650.0,640.0,1

In [5]:
#Column 5 Permanent Country
print(TU['Permanent Country'].isna().sum())
#1 missing value in this column 
print(TU['Permanent Country'].unique())
# No duplicated countries are present
TU[TU['Permanent Country'].isna()]["Citizenship Status"]
TU.at[11147, 'Permanent Country'] = "United States"
TU.iloc[11147]['Permanent Country']
#TU - runs code to check if data is cleaned

1
['United States' 'Jamaica' 'Costa Rica' 'China' 'Vietnam' 'Nicaragua'
 'Spain' 'India' 'Luxembourg' 'Nepal' 'Ecuador' 'Honduras' 'Cameroon'
 'Mexico' 'Canada' 'Singapore' 'Bangladesh' 'Pakistan'
 'United Arab Emirates' 'Uzbekistan' 'France' 'Thailand' 'Venezuela'
 'Hong Kong S.A.R.' 'Switzerland' 'Tanzania' 'Brazil' 'El Salvador'
 'Indonesia' 'Mozambique' 'Turkey' 'Czech Republic' 'Taiwan' 'Japan'
 'South Korea' 'Colombia' "Cote D'Ivoire" 'Jordan' 'Kazakhstan' 'Panama'
 'Belgium' 'United Kingdom' 'Nigeria' 'Peru' 'Lebanon' 'Cayman Islands'
 'Guatemala' 'Argentina' 'Bolivia' 'Italy' 'Poland' 'Trinidad and Tobago'
 'New Zealand' 'Ethiopia' 'Kenya' 'Montenegro' 'Germany' 'Saudi Arabia'
 'Philippines' 'Greece' 'Ireland' 'Georgia' 'Belize' 'Netherlands'
 'Palestine' 'Bosnia and Herzegovina' 'Cyprus' 'Norway' 'Russia'
 'Barbados' 'Kuwait' 'Uruguay' 'Morocco' 'Ghana' 'The Bahamas'
 'South Africa' 'Paraguay' 'Cambodia' 'Malaysia' 'Dominica' 'Iran'
 'Lithuania' 'Iceland' 'Egypt' 'Australia' nan 'Ukraine' 'Romania'
 'Uganda' 'Portugal' 'Zimbabwe' 'Oman' 'Mongolia' 'Chile' 'Albania'
 'Dominican Republic']

'United States'

In [6]:
#Column 6 Sex - no need for operations (very consistent formatting)

In [7]:
#Column 7 - Ethnicity (handling missing values)
print(TU['Ethnicity'].isna().sum())
# This column has 227 missing values 
print(TU['Ethnicity'].unique())
# No irregular categories
# Replace singular missing values with Not Specified
TU['Ethnicity'].fillna("Not Specified", inplace = True)
print(TU['Ethnicity'].isna().sum())

227
['Non Hispanic/Latino' 'Hispanic/Latino' nan]
0

In [8]:
# Column 8 - Race (similar process as column 7)

# Handling missing values
print(TU['Race'].isna().sum())
#555 missing values in this column 
print(TU['Race'].unique())
# No irregular categories
# Fill nas as "Not specified"
TU['Race'].fillna("Not Specified", inplace = True)
TU['Race'].value_counts()

555
['White' 'Asian' 'Black or African American' 'Asian, White' nan
 'American Indian or Alaska Native, Black or African American, White'
 'Black or African American, White'
 'Asian, Black or African American, White'
 'American Indian or Alaska Native'
 'American Indian or Alaska Native, White'
 'American Indian or Alaska Native, Asian, White'
 'Asian, Black or African American' 'Native Hawaiian or Other Pacific'
 'Asian, Native Hawaiian or Other Pacific'
 'Native Hawaiian or Other Pacific, White'
 'Asian, Native Hawaiian or Other Pacific, White'
 'American Indian or Alaska Native, Black or African American'
 'American Indian or Alaska Native, Asian'
 'Black or African American, Native Hawaiian or Other Pacific'
 'American Indian or Alaska Native, Native Hawaiian or Other Pacific'
 'American Indian or Alaska Native, Asian, Black or African American, White'
 'Asian, Black or African American, Native Hawaiian or Other Pacific, White'
 'American Indian or Alaska Native, Asian, Black or African American, Native Hawaiian or Other Pacific, White'
 'Black or African American, Native Hawaiian or Other Pacific, White']

White                                                                                                          10316
Asian                                                                                                           2483
Black or African American                                                                                        760
Not Specified                                                                                                    555
Asian, White                                                                                                     458
American Indian or Alaska Native, White                                                                          155
Black or African American, White                                                                                 144
American Indian or Alaska Native                                                                                 121
Asian, Black or African American                                                                                  24
Asian, Native Hawaiian or Other Pacific, White                                                                    21
Asian, Native Hawaiian or Other Pacific                                                                           21
Native Hawaiian or Other Pacific                                                                                  18
Native Hawaiian or Other Pacific, White                                                                           16
Asian, Black or African American, White                                                                           14
American Indian or Alaska Native, Black or African American, White                                                12
American Indian or Alaska Native, Black or African American                                                        8
American Indian or Alaska Native, Asian, White                                                                     7
American Indian or Alaska Native, Asian                                                                            3
American Indian or Alaska Native, Asian, Black or African American, White                                          2
Black or African American, Native Hawaiian or Other Pacific                                                        1
American Indian or Alaska Native, Native Hawaiian or Other Pacific                                                 1
Asian, Black or African American, Native Hawaiian or Other Pacific, White                                          1
American Indian or Alaska Native, Asian, Black or African American, Native Hawaiian or Other Pacific, White        1
Black or African American, Native Hawaiian or Other Pacific, White                                                 1
Name: Race, dtype: int64

In [9]:
# Column 8 - augmenting existing data points
RaceList = list(TU['Race'].value_counts()[:7].index)
TU['Race'] = \
TU['Race'].apply(lambda x: 'Others' if x not in RaceList else x)
TU['Race'].value_counts()

White                                      10316
Asian                                       2483
Black or African American                    760
Not Specified                                555
Asian, White                                 458
Others                                       272
American Indian or Alaska Native, White      155
Black or African American, White             144
Name: Race, dtype: int64

In [10]:
# Column 9 - Religion
print(TU['Religion'].isna().sum())
#5483 NAs
print(TU['Religion'].unique())
# no irregular categories
# Replace NA values with not specified 
TU['Religion'].fillna("Not specified", inplace=True)
TU['Religion'].value_counts()

# Combine similar levels into one level
TU['Religion'] = \
TU['Religion'].apply(lambda x: 'Christian' if x in ['Bible Churches', 'Christian Reformed', 'Christian Scientist', 'Church of Christ', 'Church of God'] else x)
TU['Religion'] = \
TU['Religion'].apply(lambda x: 'Presbyterian' if x == 'Presbyterian Church of America' else x)
TU['Religion'].value_counts()

5483
['Roman Catholic' nan 'Christian' 'Presbyterian' 'Islam/Muslim' 'Jewish'
 'Hindu' 'None' 'Baptist' 'Methodist' 'Jain' 'Anglican' 'Lutheran' 'Other'
 'Assembly of God' 'Non-Denominational' 'Bible Churches'
 'Christian Reformed' 'Unitarian' 'Eastern Orthodox' 'Episcopal'
 'United Methodist' 'Church of Christ' 'Pentecostal'
 'Lutheran-Missouri Synod' 'Protestant' 'Mormon-Latter Day Saints'
 'Buddhism' 'Sikh' 'Church of God' 'Presbyterian Church of America'
 'Evangelical' 'Southern Baptist' 'Society of Friends (Quaker)'
 'United Church of Christ' "Jehovah's Witnesses" 'Mennonite'
 'Christian Scientist' 'Jewish Messianic' "Baha'I" 'Coptic Church (Egypt)'
 'Zoroastrian' 'Independent' 'Church of the Nazarene']

Not specified                  5483
Roman Catholic                 2755
Christian                      1820
None                            839
Methodist                       680
Baptist                         644
Presbyterian                    447
Hindu                           375
Other                           296
Jewish                          279
Anglican                        278
Lutheran                        255
Islam/Muslim                    241
Non-Denominational              153
Buddhism                        108
Episcopal                        92
Eastern Orthodox                 86
Pentecostal                      65
Unitarian                        42
Protestant                       29
Mormon-Latter Day Saints         28
Evangelical                      24
Sikh                             22
Jain                             17
Assembly of God                  15
United Church of Christ          12
Southern Baptist                 12
United Methodist                 12
Society of Friends (Quaker)       7
Coptic Church (Egypt)             6
Lutheran-Missouri Synod           5
Jehovah's Witnesses               5
Baha'I                            5
Mennonite                         2
Jewish Messianic                  1
Zoroastrian                       1
Independent                       1
Church of the Nazarene            1
Name: Religion, dtype: int64

In [11]:
# Column 9 - Religion (augments existing variables continued)
ReligionList = list(TU['Religion'].value_counts()[:14].index)
TU['Religion'] = \
TU['Religion'].apply(lambda x: 'Others' if x not in ReligionList else x)
TU['Religion'].value_counts()

Not specified         5483
Roman Catholic        2755
Christian             1820
None                   839
Methodist              680
Baptist                644
Others                 598
Presbyterian           447
Hindu                  375
Other                  296
Jewish                 279
Anglican               278
Lutheran               255
Islam/Muslim           241
Non-Denominational     153
Name: Religion, dtype: int64

In [12]:
# Column 10 - First Source First Source Date
print(TU['First_Source Origin First Source Date'].isna().sum())
# no missing values
TU['First_Source Origin First Source Date'] = pd.to_datetime(TU['First_Source Origin First Source Date'], errors='coerce').dt.date
TU['First_Source Origin First Source Date']

0

0        2016-11-18
1        2017-01-30
2        2019-01-31
3        2015-06-15
4        2018-02-19
            ...
15138    2018-02-19
15139    2018-02-16
15140    2019-06-25
15141    2016-02-03
15142    2017-01-30
Name: First_Source Origin First Source Date, Length: 15143, dtype: object

In [13]:
# Column 11 - Inquiry Date 
# convert to date format
TU['Inquiry Date'] = pd.to_datetime(TU['Inquiry Date'], errors='coerce').dt.date
TU['Inquiry Date']

0        2017-02-13
1               NaT
2               NaT
3        2016-10-18
4               NaT
            ...
15138           NaT
15139    2018-08-28
15140           NaT
15141    2017-09-10
15142    2018-02-19
Name: Inquiry Date, Length: 15143, dtype: object

In [14]:
# Column 12 - Submitted (same process as column 11)
TU['Submitted'] = pd.to_datetime(TU['Submitted'], errors='coerce').dt.date
TU['Submitted']

0        2016-11-17
1        2018-10-18
2        2019-10-24
3        2016-11-02
4        2019-03-05
            ...
15138    2020-01-01
15139    2018-10-28
15140    2019-11-01
15141    2017-10-11
15142    2018-10-16
Name: Submitted, Length: 15143, dtype: object

In [15]:
#Column10-12
#After viewing Column10-12, it would be interesting to see
#whether the differences between submission date and First_Source date
#the differences between submission date and inquiry date affect the response.
#So let's calculate the time difference between submission date and first_source date.
TU['Submit_FirstSource'] = \
(TU['Submitted']-TU['First_Source Origin First Source Date']).astype('timedelta64[W]')
TU['Submit_Inquiry']= \
(TU['Submitted']-TU['Inquiry Date']).astype('timedelta64[W]')
#There are NAs in Inquiry.Date, 
#thus leading to NAs in Submit_Inquiry.
#Impute NAs in Submit_Inquiry with median values.
TU.Submit_Inquiry.fillna(TU['Submit_Inquiry'].median(),inplace=True)
TU.Submit_Inquiry.isna().sum()
#Remove Column10-12 in the modeling stage since they are used to construct new variables.   
TU.drop(['First_Source Origin First Source Date','Submitted','Inquiry Date'], \
        axis='columns', inplace=True)

TU[['Submit_FirstSource', 'Submit_Inquiry']]

       Submit_FirstSource  Submit_Inquiry
0                    -1.0           -13.0
1                    89.0            11.0
2                    38.0            11.0
3                    72.0             2.0
4                    54.0            11.0
...                   ...             ...
15138                97.0            11.0
15139                36.0             8.0
15140                18.0            11.0
15141                88.0             4.0
15142                89.0            34.0

[15143 rows x 2 columns]

In [16]:
# Columns 13 and 14- no data cleaning

In [17]:
# Column 15 - Staff Assigned Name 
TU.drop(['Staff Assigned Name'], axis='columns', inplace=True)

In [18]:
# Column 16 - Legacy
print(TU['Legacy'].isna().sum())
# 13658 missing values in data 
print(TU['Legacy'].unique())
# No irredular categories
# Replace missing values with "No Legacy"
TU['Legacy'].fillna("No Legacy", inplace=True)

TU['Legacy'].value_counts() # Counts the values of all categories in this column
TU['Legacy'] = TU['Legacy'].apply(lambda x: 'Legacy, Opt Out' if x not in ['Legacy', 'No Legacy'] else x)
TU['Legacy'].value_counts()

13658
[nan 'Legacy' 'Legacy, Opt Out' 'Fine Arts, Legacy' 'Athlete, Legacy'
 'Fine Arts, Legacy, VIP' 'Legacy, VIP' 'Athlete, Legacy, VIP'
 'Athlete, Legacy, Opt Out' 'Legacy, Opt Out, VIP'
 'Fine Arts, Legacy, Opt Out' 'Athlete, Legacy, Opt Out, VIP'
 'Athlete, Fine Arts, Legacy' 'Fine Arts, Legacy, Opt Out, VIP'
 'Athlete, Fine Arts, Legacy, VIP'
 'Athlete, Fine Arts, Legacy, Opt Out, VIP']

No Legacy          13658
Legacy, Opt Out      852
Legacy               633
Name: Legacy, dtype: int64

In [19]:
# Column 17 - Athlete
print(TU['Athlete'].isna().sum())
# 13120 missing values in column
print(TU['Athlete'].unique())
# No irregular categories
# fill missing values with Non-Athlete
TU['Athlete'].fillna("Non-Athlete", inplace=True)

TU['Athlete'].value_counts()  # Counts all values from each category
TU['Athlete'] = TU['Athlete'].apply(lambda x: 'Athlete, Opt Out' if x not in ['Athlete', 'Non-Athlete'] else x)
TU['Athlete'].value_counts()

13120
[nan 'Athlete, Opt Out' 'Athlete' 'Athlete, Fine Arts' 'Athlete, Legacy'
 'Athlete, Legacy, VIP' 'Athlete, Legacy, Opt Out' 'Athlete, VIP'
 'Athlete, Legacy, Opt Out, VIP' 'Athlete, Fine Arts, Opt Out'
 'Athlete, Opt Out, VIP' 'Athlete, Fine Arts, Legacy'
 'Athlete, Fine Arts, Legacy, VIP'
 'Athlete, Fine Arts, Legacy, Opt Out, VIP']

Non-Athlete         13120
Athlete              1291
Athlete, Opt Out      732
Name: Athlete, dtype: int64

In [20]:
# Column 18 - Sport 1 sport
print(TU['Sport 1 Sport'].isna().sum())
# 13120 missing values in original column 
print(TU['Sport 1 Sport'].unique())
# no categories that don't make sense
# Replace missing values with "No Sport"
TU['Sport 1 Sport'].fillna("No Sport", inplace=True)

# Group sports for males and females separately
TU['Sport 1 Sport'] = TU['Sport 1 Sport'].str.replace('Women','')
TU['Sport 1 Sport'] = TU['Sport 1 Sport'].str.replace('Men','')
print(TU['Sport 1 Sport'].unique())

13120
[nan 'Baseball' 'Football' 'Track Women' 'Tennis Women'
 'Cross Country Men' 'Tennis Men' 'Soccer Men' 'Golf Women' 'Soccer Women'
 'Basketball Men' 'Softball' 'Swimming Women' 'Cross Country Women'
 'Track Men' 'Golf Men' 'Swimming Men' 'Volleyball' 'Basketball Women'
 'Diving Women' 'Diving Men']
['No Sport' 'Baseball' 'Football' 'Track ' 'Tennis ' 'Cross Country '
 'Soccer ' 'Golf ' 'Basketball ' 'Softball' 'Swimming ' 'Volleyball'
 'Diving ']

In [21]:
# Column 19 - Sport 1 Rating 
print(TU['Sport 1 Rating'].isna().sum())
# 13120 missing values in original column 
# Fill missing values with No Sport as with Column 18
TU['Sport 1 Rating'].fillna("No Sport", inplace=True)
TU['Sport 1 Rating'].unique()

13120

array(['No Sport', 'Franchise', 'Blue Chip', 'Varsity'], dtype=object)

In [22]:
# Column 20 - Sport 2 Sport
print(TU['Sport 2 Sport'].isna().sum())
#14513 missing values in Column 20
TU['Sport 2 Sport'].fillna("No 2ndSport", inplace=True)
TU['Sport 2 Sport'].value_counts()   # counts numbers of values in each category
TU['Sport 2 Sport'] = TU['Sport 2 Sport'].apply(lambda x: '2ndSport' if x != 'No 2ndSport' else x)
print(TU['Sport 2 Sport'].unique())

14513
['No 2ndSport' '2ndSport']

In [23]:
# Column 21 - Sport 2 Rating 
print(TU['Sport 2 Rating'].isna().sum())
# 15085 missing values
print(TU['Sport 2 Rating'].unique())
# Remove this column in the modeling stage
TU.drop('Sport 2 Rating', axis='columns', inplace=True)

15085
[nan 'Blue Chip' 'Varsity' 'Franchise']

In [24]:
# Column 22 - Sport 3 Sport 
print(TU['Sport 3 Sport'].isna().sum())
# 14907 missing values - replace with category No 3rdSport
TU['Sport 3 Sport'].fillna("No 3rdSport", inplace=True)
TU['Sport 3 Sport'].value_counts()

TU['Sport 3 Sport'] = TU['Sport 3 Sport'].apply(lambda x: "3rdSport" if x != "No 3rdSport" else x)
print(TU['Sport 3 Sport'].unique())

14907
['No 3rdSport' '3rdSport']

In [25]:
# Column 23 - Sport 3 Rating 
print(TU['Sport 3 Rating'].isna().sum())
# 15140 missing values in Column 23
print(TU['Sport 3 Rating'].unique())
# This column would not provide enough information. This column should be removed
TU.drop('Sport 3 Rating', axis = 'columns', inplace=True)

15140
[nan 'Varsity']

In [26]:
# Column 24 - Academic Interest 1
print(TU['Academic Interest 1'].isna().sum())
#6 NAs.
print(TU['Academic Interest 1'].unique())
#Most of the NAs for Academic.Interest.1 have a value for Academic.Interest.2
#We may assign the corresponding values in Academic.Interest.2 
#to NAs in Academic.Interest.1 if Academic.Interest.2 has a value.
#TU[TU['Academic Interest 1'].isna()]['Academic Interest 2']

for i,b in TU[TU['Academic Interest 1'].isna()].iterrows():
    TU['Academic Interest 1'][i]=TU['Academic Interest 2'][i]
    
#For the remaining NAs in Academic.Interest.1, assign Undecided.
TU['Academic Interest 1'].fillna('Undecided', inplace=True)

6
['Biology' 'Engineering Science' 'Psychology' 'Neuroscience'
 'Computer Science' 'English' 'Mathematics' 'Education' 'Music'
 'Undecided' 'Business' 'Geosciences' 'Pre-Law' 'Biochemistry' 'Finance'
 'Pre-Medical' 'Political Science' 'Business - Communication Management'
 'Economics' 'Business - Accounting' 'Entrepreneurship' 'Sociology'
 'Environmental Studies' 'Chemistry' 'Mathematical Finance'
 'Business - Sport Management' 'History' 'International Studies'
 'Biochemistry & Molecular Biology' 'Business - Management'
 'Communication' 'Anthropology' 'Business - Marketing' 'Linguistics'
 'Philosophy' 'Business - International Business'
 'Business Analytics & Technology' 'Art' 'French'
 'Business - Management Information Systems' 'Physics' 'Urban Studies'
 'Chinese' 'Nursing' 'Business Legal Studies' 'Human Communication'
 'Comparative Literature' 'Creative Writing'
 'Ancient Mediterranean Studies' 'Art History' 'Architectural Studies'
 'Film Studies' 'Theatre' 'Music Education' 'Pre-Dental' 'Religion'
 'Classical Languages' 'Applied Chemistry' 'Music Composition'
 'Architecture' 'Choral Music' 'New Media' 'Astronomy' 'Pharmacy'
 'African American Studies' 'East Asian Studies' nan 'Latin'
 'Cognitive Science' "Women's & Gender Studies" 'Pre-Veterinary' 'Spanish'
 'Instrumental Music' 'German' 'Russian' 'Biomathematics' 'Agriculture'
 'Foreign Languages' 'Art and Art History' 'Italian'
 'Global Latinx Studies' 'Arts, Letters & Enterprise']

/var/folders/0m/l4prbb_56q1gl8j3h3qzryb40000gn/T/ipykernel_95393/4035662498.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TU['Academic Interest 1'][i]=TU['Academic Interest 2'][i]

In [27]:
# Column 24 (continued) - Group minor categories into 1
#Group Business related options into "Business".
TU['Academic Interest 1'] = \
TU['Academic Interest 1'].apply(lambda x: 'Business' if x in['Finance','Entrepreneurship'] else x)



#Group options with a low number of cases (< 100 cases) into "Others".
Majorlist=list(TU['Academic Interest 1'].value_counts()[:30].index)
TU['Academic Interest 1'] = \
TU['Academic Interest 1'].apply(lambda x: 'Others' if x not in Majorlist else x)
TU['Academic Interest 1'].value_counts()

Pre-Medical                            1581
Biology                                1336
Engineering Science                    1285
Business                               1281
Computer Science                        894
Others                                  880
Psychology                              852
Undecided                               647
Political Science                       624
Neuroscience                            578
Biochemistry & Molecular Biology        437
Economics                               347
Biochemistry                            334
International Studies                   333
Business - Management                   324
Mathematics                             289
English                                 288
Business - Marketing                    285
Business - Accounting                   274
Pre-Law                                 255
Chemistry                               253
Environmental Studies                   250
Business - International Business       240
History                                 217
Physics                                 216
Communication                           178
Education                               164
Business - Communication Management     164
Music                                   123
Business Analytics & Technology         114
Art                                     100
Name: Academic Interest 1, dtype: int64

In [28]:
# Column 25 - Academic Interest 2
print(TU['Academic Interest 2'].isna().sum())
#159 NAs.
#Replace repeated academic interests with Undecided, 
#then make NAs Undecided
TU['Academic Interest 2'].fillna('Undecided', inplace=True)

#Group Business related options into "Business".
TU['Academic Interest 2'] = \
TU['Academic Interest 2'].apply(lambda x: 'Business' if x in['Finance','Entrepreneurship'] else x)


#Group options with a low number of cases (< 100 cases) into "Others".
Majorlist=list(TU['Academic Interest 2'].value_counts()[:37].index)
TU['Academic Interest 2'] = \
TU['Academic Interest 2'].apply(lambda x: 'Others' if x not in Majorlist else x)
print(TU['Academic Interest 2'].unique())
TU['Academic Interest 2'].value_counts()

159
['Others' 'Computer Science' 'Biology' 'Engineering Science'
 'Biochemistry & Molecular Biology' 'Environmental Studies' 'English'
 'Spanish' 'Psychology' 'Economics' 'Business - Marketing' 'Physics'
 'Undecided' 'Mathematics' 'Business - Communication Management'
 'Business - Accounting' 'International Studies' 'Neuroscience'
 'Business Analytics & Technology' 'Business' 'Political Science'
 'Sociology' 'Biochemistry' 'Pre-Medical'
 'Business - International Business' 'Communication' 'Pre-Law'
 'Business - Management' 'Anthropology' 'Business - Sport Management'
 'Music' 'History' 'Creative Writing' 'Mathematical Finance' 'Chemistry'
 'Education' 'Philosophy' 'Art']

Business                               1211
Biology                                1159
Others                                 1089
Pre-Medical                             850
Psychology                              774
Undecided                               643
Biochemistry & Molecular Biology        605
Engineering Science                     597
Political Science                       575
Business - Management                   505
Biochemistry                            502
Economics                               490
Computer Science                        484
Neuroscience                            474
Mathematics                             414
Pre-Law                                 368
Chemistry                               362
Business - Marketing                    360
Environmental Studies                   303
International Studies                   287
Physics                                 279
Business - International Business       268
English                                 264
History                                 236
Sociology                               226
Business - Accounting                   206
Education                               201
Spanish                                 163
Business Analytics & Technology         156
Music                                   147
Business - Communication Management     140
Philosophy                              130
Communication                           122
Business - Sport Management             120
Art                                     113
Creative Writing                        111
Anthropology                            105
Mathematical Finance                    104
Name: Academic Interest 2, dtype: int64

In [29]:
# Column 26 - First_Source Origin First Source Summary
print(TU['First_Source Origin First Source Summary'].isna().sum())
#No NAs.
print(TU['First_Source Origin First Source Summary'].unique())
#No irregular values

#Group options with a low number of cases (< 100) into "Other Sources".
Majorlist=list(TU['First_Source Origin First Source Summary'].value_counts()[:17].index)

TU['First_Source Origin First Source Summary'] = \
TU['First_Source Origin First Source Summary'].apply(lambda x: 'Others' if x not in Majorlist else x)
print(TU['First_Source Origin First Source Summary'].unique())
TU['First_Source Origin First Source Summary'].value_counts()

0
['CAP' 'CBINQ' 'OEVNT' 'OAPP' 'PSAT' 'CF' 'SATR' 'HSV' 'WEBCA' 'HOBS'
 'VST' 'YUVST' 'SRCH' 'WEBTU' 'ACTPL' 'ACT' 'ATH' 'SIB' 'APPTX' 'CAPIQ'
 'NICHE' 'CLNIQ' 'TVINT' 'NHI' 'SAT' 'AP' 'TIF' 'TVOTH' 'OTH' 'ATHWB'
 'DOC' 'ALUM' 'GRP' 'REF' 'EM' 'DBT' 'RCPT' 'CHEGG' 'MPC' 'MAIL' 'CLNAP'
 'TFL' 'ATS' 'EXPL' 'LVCHT' 'HIGH' 'TEL' 'DUOL' 'WEBOT' 'APCU']
['CAP' 'CBINQ' 'OEVNT' 'OAPP' 'PSAT' 'CF' 'SATR' 'HSV' 'Others' 'VST'
 'YUVST' 'SRCH' 'WEBTU' 'ACT' 'ATH' 'SIB' 'CAPIQ' 'TIF']

CBINQ     7070
OAPP      1521
SRCH       764
PSAT       755
Others     748
VST        675
CF         551
WEBTU      513
CAPIQ      463
CAP        426
ACT        284
HSV        255
ATH        218
TIF        194
SATR       190
SIB        186
YUVST      178
OEVNT      152
Name: First_Source Origin First Source Summary, dtype: int64

In [30]:
# Column 27 - Total Event Participation
print(TU['Total Event Participation'].isna().sum())
#No NAs.
print(TU['Total Event Participation'].unique())

#3, 4, 5 combined accounts for < 1% of the data set.
#Compared to the number of cases in 0, 1, and 2, the number of cases
#in 3, 4, and 5 won't be very useful in predicting the response.
#So group 3, 4, and 5 into "2 or more".

TU['Total Event Participation']=\
TU['Total Event Participation'].apply(lambda x: '2 or more' if x in[3,4,5] else x)
TU['Total Event Participation'].unique()

0
[0 1 2 4 3 5]

array([0, 1, 2, '2 or more'], dtype=object)

In [31]:
# Column 28 - Count of Campus Visits
print(TU['Count of Campus Visits'].isna().sum())
#No NAs.
print(TU['Count of Campus Visits'].unique())
# group 5, 6, and 8 into '4 or more'.
TU['Count of Campus Visits']= TU['Count of Campus Visits'].apply(lambda x: '4 or more' if x in [5,6,8] else x)
TU['Count of Campus Visits'].unique()

0
[5 0 2 1 3 4 6 8]

array(['4 or more', 0, 2, 1, 3, 4], dtype=object)

In [32]:
# Column 29 - School 1 Organization Category 
print(TU['School #1 Organization Category'].isna().sum())
#38  NAs.
print(TU['School #1 Organization Category'].unique())
#Only 16 cases belong to College but 15089 cases belong to High School.
#Remove this variable.
TU.drop('School #1 Organization Category', axis='columns', inplace=True)

38
['High School' nan 'College']

In [33]:
# Column 30 - School 1 Code
print(TU['School 1 Code'].isna().sum())
#11879 NAs.
print(TU['School 1 Code'].unique())
#School Code will not matter much to produce insightful information.
#Additionally, there are 11879 missing values.
#so remove this column in the modeling stage.
TU.drop('School 1 Code', axis='columns', inplace=True)

11897
[    nan 441750. 390324. ... 447335. 263055.  52117.]

In [34]:
# Column 31 - School 1 Class Rank (Numeric)
print(TU['School 1 Class Rank (Numeric)'].isna().sum())
#8136 NAs.

8136

In [35]:
# Column 32 - School 1 Class Size (Numeric)
print(TU['School 1 Class Size (Numeric)'].isna().sum())

#8136 NAs.
#Percentage rank can more accurately reflect a student's academic performance
#than numeric rank. 

#New Column - School 1 Top Percent in Class

TU['School 1 Top Percent in Class'] =\
100 *(TU['School 1 Class Rank (Numeric)']/TU['School 1 Class Size (Numeric)'])
#remove Column31 and Column32
TU.drop(['School 1 Class Rank (Numeric)','School 1 Class Size (Numeric)'], axis='columns',
       inplace=True)

print(TU['School 1 Top Percent in Class'].isna().sum())
# #Impute the 8136 NAs based on Academic.Index column. 
# #Since we need to handle NAs in School.1.Top.Percent.in.Class
# #according Academic.Index, first let's see whether Academic Index needs to cleaned.
print(TU['Academic Index'].isna().sum())
#829 NAs.
print(TU['Academic Index'].unique())
#No questionable level.
#Impute 829 NAs with the most common level.
TU['Academic Index'].fillna(3,inplace=True)
print(TU['Academic Index'].unique())
#No missing values in Academic Index now.
#Impute missing values in School 1 Top Percent in Class based on Academic.Index.

# clean_data <- rbind(clean_index_1, clean_index_2, clean_index_3, clean_index_4, clean_index_5)
# #Remove index dataframes
# rm(clean_index_1, clean_index_2, clean_index_3, clean_index_4, clean_index_5)
# #Later when implementing KNN method, I will use mutate()
# #function to convert categorical variables to numeric variables, which ignores
# #grouping variables. Therefore, to ensure Academic.Index will be converted into
# #a numeric variable, I will ungroup clean_data.
# clean_data <- clean_data %>% ungroup()
# clean_data$Academic.Index <- as.factor(clean_data$Academic.Index)

8136
8136
829
[ 3.  2.  4.  1.  5. nan]
[3. 2. 4. 1. 5.]

In [36]:
grouped=TU.groupby('Academic Index')
average=grouped.mean('School 1 Top Percent in Class')
average['School 1 Top Percent in Class']

Academic Index
1.0     4.560086
2.0     8.519419
3.0    16.224847
4.0    29.182240
5.0    34.850230
Name: School 1 Top Percent in Class, dtype: float64

In [37]:
for i,b in TU.iterrows():
   # print(i,b)
    if (TU['Academic Index'][i]== 1.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
        TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][1.0]
    elif (TU['Academic Index'][i]== 2.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
            TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][2.0]
    elif (TU['Academic Index'][i]== 3.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
            TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][3.0]
    elif (TU['Academic Index'][i]== 4.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
            TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][4.0]
    elif (TU['Academic Index'][i]== 5.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
            TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][5.0]

print(TU['School 1 Top Percent in Class'].isna().sum())

/var/folders/0m/l4prbb_56q1gl8j3h3qzryb40000gn/T/ipykernel_95393/2428932017.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][4.0]
/var/folders/0m/l4prbb_56q1gl8j3h3qzryb40000gn/T/ipykernel_95393/2428932017.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][1.0]
/var/folders/0m/l4prbb_56q1gl8j3h3qzryb40000gn/T/ipykernel_95393/2428932017.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][2.0]
/var/folders/0m/l4prbb_56q1gl8j3h3qzryb40000gn/T/ipykernel_95393/2428932017.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][3.0]
/var/folders/0m/l4prbb_56q1gl8j3h3qzryb40000gn/T/ipykernel_95393/2428932017.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][5.0]

0

In [38]:
# Column 33 - School 1 GPA
# This column is irrelevant, so remove from Data frame
TU.drop('School 1 GPA', axis='columns', inplace=True)

In [39]:
# Column 34 - School 1 GPA Scale 
# This column is irrelevant, so remove from Data frame
TU.drop('School 1 GPA Scale', axis='columns', inplace=True)

In [40]:
# Column 35 - School 1 GPA Recalculated 
print(TU['School 1 GPA Recalculated'].isna().sum())
#0 NAs.
TU['School 1 GPA Recalculated'].skew()
#Check skewness

0

-0.929959273527639

In [41]:
# Column 36 - School 2 Class Rank
# Same as column 31
print(TU['School 2 Class Rank (Numeric)'].isna().sum())
#15143 NAs.

15143

In [42]:
# Column 37 - School 2 Class Size
# Same thing as Column 32 
print(TU['School 2 Class Size (Numeric)'].isna().sum())

#8136 NAs.
#Percentage rank can more accurately reflect a student's academic performance
#than numeric rank. 

#New Column - School 1 Top Percent in Class

TU['School 2 Top Percent in Class'] =\
100 *(TU['School 2 Class Rank (Numeric)']/TU['School 2 Class Size (Numeric)'])
#remove Column31 and Column32
TU.drop(['School 2 Class Rank (Numeric)','School 2 Class Size (Numeric)'], axis='columns',
       inplace=True)

print(TU['School 2 Top Percent in Class'].isna().sum())
# #Impute the 8136 NAs based on Academic.Index column. 
# #Since we need to handle NAs in School.1.Top.Percent.in.Class
# #according Academic.Index, first let's see whether Academic Index needs to cleaned.
print(TU['Academic Index'].isna().sum())
#829 NAs.
print(TU['Academic Index'].unique())
#No questionable level.
#Impute 829 NAs with the most common level.
TU['Academic Index'].fillna(3,inplace=True)
print(TU['Academic Index'].unique())
#No missing values in Academic Index now.
#Impute missing values in School 1 Top Percent in Class based on Academic.Index.

# clean_data <- rbind(clean_index_1, clean_index_2, clean_index_3, clean_index_4, clean_index_5)
# #Remove index dataframes
# rm(clean_index_1, clean_index_2, clean_index_3, clean_index_4, clean_index_5)
# #Later when implementing KNN method, I will use mutate()
# #function to convert categorical variables to numeric variables, which ignores
# #grouping variables. Therefore, to ensure Academic.Index will be converted into
# #a numeric variable, I will ungroup clean_data.
# clean_data <- clean_data %>% ungroup()
# clean_data$Academic.Index <- as.factor(clean_data$Academic.Index)

15143
15143
0
[3. 2. 4. 1. 5.]
[3. 2. 4. 1. 5.]

In [43]:
grouped=TU.groupby('Academic Index')
average=grouped.mean('School 1 Top Percent in Class')
average['School 1 Top Percent in Class']

Academic Index
1.0     4.560086
2.0     8.519419
3.0    16.224847
4.0    29.182240
5.0    34.850230
Name: School 1 Top Percent in Class, dtype: float64

In [44]:
for i,b in TU.iterrows():
   # print(i,b)
    if (TU['Academic Index'][i]== 1.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
        TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][1.0]
    elif (TU['Academic Index'][i]== 2.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
            TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][2.0]
    elif (TU['Academic Index'][i]== 3.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
            TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][3.0]
    elif (TU['Academic Index'][i]== 4.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
            TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][4.0]
    elif (TU['Academic Index'][i]== 5.0) & (pd.isna(TU['School 1 Top Percent in Class'][i])):
            TU['School 1 Top Percent in Class'][i]= average['School 1 Top Percent in Class'][5.0]

print(TU['School 1 Top Percent in Class'].isna().sum())

0

In [45]:
# Column 38 - School 2 GPA
# Same issues as in Column 33
# This column is irrelevant 
TU.drop('School 2 GPA', axis='columns', inplace=True)

In [46]:
# Column 39 - School 2 GPA Scale 
# Same thing as in Column 34, drop because this column is irrelevant 
TU.drop('School 2 GPA Scale', axis='columns', inplace=True)

In [47]:
# Column 40 - School 2 GPA Recalculated 
print(TU['School 2 GPA Recalculated'].isna().sum())
#15143 NAs.
TU['School 2 GPA Recalculated'].skew()
#Check skewness
# remove this column: as everything is blank
TU.drop('School 2 GPA Recalculated', axis='columns', inplace=True)

15143

In [48]:
# Column 41 - School 3 Class Rank 
print(TU['School 3 Class Rank (Numeric)'].isna().sum())

# Remove this variable as everything is blank making it irrelevant
TU.drop('School 3 Class Rank (Numeric)', axis='columns', inplace=True)

15143

In [49]:
# Column 42 - School 3 Class Size
print(TU['School 3 Class Size (Numeric)'].isna().sum())
# 15143 NAs
# This column is irrelevant, so remove
TU.drop('School 3 Class Size (Numeric)', axis='columns', inplace=True)

15143

In [50]:
# Column 43 - School 3 GPA
print(TU['School 3 GPA'].isna().sum())
# All points in this column are blank, making this column irrelevant. Remove!
TU.drop('School 3 GPA', axis='columns', inplace=True)

15143

In [51]:
# Column 44 - School 3 GPA Scale 
print(TU['School 3 GPA Scale'].isna().sum())
# 15143 NAs. Since this column has all points blank, remove this column as it is extraneous
TU.drop('School 3 GPA Scale', axis='columns', inplace=True)

15143

In [52]:
# Column 45 - School 3 GPA Recalculated
print(TU['School 3 GPA Recalculated'].isna().sum())
# 15143 NAs. Since this column has all points blank, remove this column as it is extraneous
TU.drop('School 3 GPA Recalculated', axis='columns', inplace=True)

15143

In [53]:
# ACT English column clean up
print(TU['ACT English'].isna().sum())
# 7883 NAs
# Since ACT Composite score is generally a good indicator of ACT scores, scores on each section don't matter in data analysis. Remove this column
TU.drop('ACT English', axis='columns',inplace=True)

7883

In [54]:
# ACT Reading column data clean up
print(TU['ACT Reading'].isna().sum())
# 7883 NAs
# Since ACT composite scores are a good indicator of ACT scores, scores on each section are irrelevant in the data analysis. Remove this column
TU.drop('ACT Reading', axis='columns', inplace= True)

7883

In [55]:
# ACT Math scores data clean up
print(TU['ACT Math'].isna().sum())
#7883 NAs
# Because ACT composite scores are a good indicator for ACT scores, scores on specific sections are irrelevant in the data analysis (remove)
TU.drop('ACT Math', axis='columns', inplace=True)

7883

In [56]:
# ACT Science Reasoning data clean up
print(TU['ACT Science Reasoning'].isna().sum())
# 7883 NAs
# Because ACT composite scores are an indicator for ACT scores, scores on specific sections are irrelevant in the data analysis
TU.drop('ACT Science Reasoning', axis='columns', inplace=True)

7883

In [57]:
# ACT writing data clean up 
print(TU['ACT Writing'].isna().sum())
# 14886 NAs
# Because ACT composite scores are an indicator for ACT scores, scores on specific sections are irrelevant in the data analysis
TU.drop('ACT Writing', axis='columns', inplace=True)

14886

In [58]:
# SAT I CR + M data cleanup
print(TU['SAT I CR + M'].isnull().sum())
# 14569 NAs
# The column is irrelevant,so remove the column
TU.drop('SAT I CR + M', axis='columns', inplace=True)

14569

In [59]:
# SAT R cleanup
TU['SAT R'] = TU['SAT R Evidence-Based Reading and Writing Section'] + TU['SAT R Math Section']  # SAT R represents the SAT composite score, the sum of the Evidence-Based Reading and Writing Score and the Math Score
TU['SAT R']
# handle missing values
print(TU['SAT R'].isna().sum())
# 8332 NAs - fill nas with not specified values
TU['SAT R'].fillna("None", inplace= True)
# TO do: SAT R generating ACT scores
def sat_to_act(sat):
    try: 
        sat = int(sat)
    except:
        return None
    sat_cutoffs = [1570, 1530, 1490, 1450, 1420, 1390, 1360, 1330, 1300, 1260,1230,1200,1160,1130,1100,1060,1030,990,960,920,880,830,780,730,690,650,620,590]
    for i in range(len(sat_cutoffs)):
        if sat >= sat_cutoffs[i]:
            return 36-i
    return None 
# TODO: comparing SAT values in the data frame in the function

TU['ACT Composite'] = TU['ACT Composite'].fillna(TU['SAT R'].apply(sat_to_act))
TU[['ACT Composite', 'SAT R']]

8332

       ACT Composite   SAT R
0               30.0    None
1               30.0  1380.0
2               29.0    None
3               35.0    None
4               29.0  1350.0
...              ...     ...
15138            NaN    None
15139           33.0    None
15140           26.0    None
15141           34.0  1510.0
15142           31.0  1290.0

[15143 rows x 2 columns]

In [60]:
# Replace missing concordance scores with mean of ACT concordance scores

mean_ACT = round((pd.to_numeric(TU['ACT Composite'], errors = "coerce")).mean(),0)
mean_ACT
   
TU['ACT Composite'] = TU['ACT Composite'].apply(lambda x: mean_ACT if x == "None" else x)
TU['ACT Composite'].fillna(mean_ACT, inplace = True)
TU['ACT Composite']

0        30.0
1        30.0
2        29.0
3        35.0
4        29.0
         ...
15138    30.0
15139    33.0
15140    26.0
15141    34.0
15142    31.0
Name: ACT Composite, Length: 15143, dtype: float64

In [61]:
# Permanent Geomarket data cleanup
print(TU['Permanent Geomarket'].isna().sum())
# 1 NA 
# Find most frequent geomarket value
TU['Permanent Geomarket'].fillna(TU['Permanent Geomarket'].value_counts().idxmax(), inplace = True)

# Recategorize Geomarkets into regions - TODO: Getting pandas to read excel files (couldn't get it to read excel files)
Regions = pd.read_excel("Regions.xlsx", sheet_name = "State", index_col="State")
print(Regions)
Regions.get('State')

TU['Permanent Geomarket']

# Due to the outputs of Permanent Geomarket not matching Regions, we have to get the state first
TU[['State', 'code']] = TU['Permanent Geomarket'].str.split('-', expand=True)
TU[['State', 'code']]
TU['State']

1
                                     Region
State
Alabama           South, East South Central
Alaska                        West, Pacific
Arizona                      West, Mountain
Arkansas          South, West South Central
California                    West, Pacific
Colorado                     West, Mountain
Connecticut          Northeast, New England
Delaware              South, South Atlantic
D.C.                  South, South Atlantic
Florida               South, South Atlantic
Georgia               South, South Atlantic
Hawaii                        West, Pacific
Idaho                        West, Mountain
Illinois        Midwest, East North Central
Indiana         Midwest, East North Central
Iowa            Midwest, West North Central
Kansas          Midwest, West North Central
Kentucky          South, East South Central
Louisiana         South, West South Central
Maine                Northeast, New England
Maryland              South, South Atlantic
Massachusetts        Northeast, New England
Michigan        Midwest, East North Central
Minnesota       Midwest, West North Central
Mississippi       South, East South Central
Missouri        Midwest, West North Central
Montana                      West, Mountain
Nebraska        Midwest, West North Central
Nevada                       West, Mountain
New Hampshire        Northeast, New England
New Jersey       Northeast, Middle Atlantic
New Mexico                   West, Mountain
New York         Northeast, Middle Atlantic
North Carolina        South, South Atlantic
North Dakota    Midwest, West North Central
Ohio            Midwest, East North Central
Oklahoma          South, West South Central
Oregon                        West, Pacific
Pennsylvania     Northeast, Middle Atlantic
Rhode Island         Northeast, New England
South Carolina        South, South Atlantic
South Dakota    Midwest, West North Central
Tennessee         South, East South Central
Texas             South, West South Central
Utah                         West, Mountain
Vermont              Northeast, New England
Virginia              South, South Atlantic
Washington                    West, Pacific
West Virginia         South, South Atlantic
Wisconsin       Midwest, East North Central
Wyoming                      West, Mountain

0        NM
1        TX
2        TX
3        WA
4        TX
         ..
15138    CA
15139    TX
15140    MN
15141    TX
15142    TX
Name: State, Length: 15143, dtype: object

In [62]:
state_dict = {'AL':'Alabama', 'AK':'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 
              'CO':'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'DC': 'D.C.', 'FL': 'Florida', 'GA': 'Georgia', 
             'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS':'Kansas',
             'KY': 'Kentucky', 'LA': 'Louisiana', 'MA': 'Massachusetts', 'MI':'Michigan','ME': 'Maine', 'MD': 'Maryland', 'MN': 'Minnesota', 'MO':'Missouri', 'MS': 'Mississippi', 
             'MT':'Montana','NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY':'New York',
             'NC':'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania',
             'RI':'Rhode Island', 'SC':'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX':'Texas', 'UT': 'Utah',
             'VT':'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'}

TU['State'].replace(state_dict, inplace = True)
TU['State']     # State column after manipulation

0        New Mexico
1             Texas
2             Texas
3        Washington
4             Texas
            ...
15138    California
15139         Texas
15140     Minnesota
15141         Texas
15142         Texas
Name: State, Length: 15143, dtype: object

In [63]:
TU = TU.join(Regions, on = 'State', how = 'left')
TU

,ID,train-test,Entry Term (Application),Permanent Country,Sex,Ethnicity,Race,Religion,Application Source,Decision Plan,...,SAT R Math Section,Decision,Submit_FirstSource,Submit_Inquiry,School 1 Top Percent in Class,School 2 Top Percent in Class,SAT R,State,code,Region
0,1,train,Fall 2017,United States,F,Non Hispanic/Latino,White,Roman Catholic,CommonApp,Early Action II,...,NaN,1,-1.0,-13.0,10.094637,NaN,None,New Mexico,01,"West, Mountain"
1,2,train,Fall 2019,United States,M,Non Hispanic/Latino,White,Not specified,CommonApp,Early Action I,...,720.0,0,89.0,11.0,13.878470,NaN,1380.0,Texas,22,"South, West South Central"
2,3,train,Fall 2020,United States,F,Hispanic/Latino,White,Christian,ApplyTexas,Early Action,...,NaN,1,38.0,11.0,29.182240,NaN,None,Texas,15,"South, West South Central"
3,4,train,Fall 2017,United States,F,Non Hispanic/Latino,Asian,Not specified,CommonApp,Early Action I,...,NaN,0,72.0,2.0,4.112150,NaN,None,Washington,05,"West, Pacific"
4,5,train,Fall 2019,United States,M,Non Hispanic/Latino,White,Christian,CommonApp,Regular Decision,...,700.0,0,54.0,11.0,18.601583,NaN,1350.0,Texas,06,"South, West South Central"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15138,15139,test,Fall 2020,United States,F,Non Hispanic/Latino,Asian,Not specified,CommonApp,Regular Decision,...,NaN,0,97.0,11.0,16.224847,NaN,None,California,16,"West, Pacific"
15139,15140,test,Fall 2019,United States,F,Non Hispanic/Latino,Asian,Hindu,CommonApp,Early Action I,...,NaN,0,36.0,8.0,9.422111,NaN,None,Texas,16,"South, West South Central"
15140,15141,test,Fall 2020,United States,M,Non Hispanic/Latino,Black or African American,Not specified,CommonApp,Early Action,...,NaN,0,18.0,11.0,29.182240,NaN,None,Minnesota,01,"Midwest, West North Central"
15141,15142,test,Fall 2018,United States,F,Non Hispanic/Latino,White,Not specified,CommonApp,Early Action I,...,740.0,0,88.0,4.0,1.785714,NaN,1510.0,Texas,23,"South, West South Central"
15142,15143,test,Fall 2019,United States,F,Non Hispanic/Latino,White,Roman Catholic,CommonApp,Early Action I,...,640.0,1,89.0,34.0,2.222222,NaN,1290.0,Texas,06,"South, West South Central"

In [77]:
for i,b in TU.iterrows():
   # Handles territories and International cases
    if (TU['State'][i] == "PR") & (pd.isna(TU['Region'][i])):
           TU['Region'][i] = "U.S. Territories (not classified into census regions)"
    elif (TU['State'][i] == "INT") & (pd.isna(TU['Region'][i])):
            TU['Region'][i] = "International"

print(TU['Region'].isna().sum())

print(TU[TU['Region'].isna()])

TU['Region'] = TU['Region'].fillna("Other U.S. Region (other than states and territories)")  #Handles cases where the data point is in the U.S.
TU['Region'].value_counts()
# Use Region column in modeling stage because it provides regional location for applicants

0
Empty DataFrame
Columns: [ID, train-test, Entry Term (Application), Permanent Country, Sex, Ethnicity, Race, Religion, Application Source, Decision Plan, Legacy, Athlete, Sport 1 Sport, Sport 1 Rating, Sport 2 Sport, Sport 3 Sport, Academic Interest 1, Academic Interest 2, First_Source Origin First Source Summary, Total Event Participation, Count of Campus Visits, School 1 GPA Recalculated, ACT Composite, SAT R Evidence-Based Reading and Writing Section + Math Section, Permanent Geomarket, Citizenship Status, Academic Index, Intend to Apply for Financial Aid?, Merit Award, Test Optional, SAT I Critical Reading, SAT I Math, SAT I Writing, SAT R Evidence-Based Reading and Writing Section, SAT R Math Section, Decision, Submit_FirstSource, Submit_Inquiry, School 1 Top Percent in Class, School 2 Top Percent in Class, SAT R, State, Region]
Index: []

[0 rows x 43 columns]

South, West South Central                                10258
West, Pacific                                             1322
International                                              913
West, Mountain                                             781
South, South Atlantic                                      532
Midwest, West North Central                                361
South, East South Central                                  296
Midwest, East North Central                                295
Northeast, Middle Atlantic                                 212
Northeast, New England                                     149
Other U.S. Region (other than states and territories)       22
U.S. Territories (not classified into census regions)        2
Name: Region, dtype: int64

In [65]:
TU.drop('code', axis = 'columns', inplace = True)
TU

,ID,train-test,Entry Term (Application),Permanent Country,Sex,Ethnicity,Race,Religion,Application Source,Decision Plan,...,SAT R Evidence-Based Reading and Writing Section,SAT R Math Section,Decision,Submit_FirstSource,Submit_Inquiry,School 1 Top Percent in Class,School 2 Top Percent in Class,SAT R,State,Region
0,1,train,Fall 2017,United States,F,Non Hispanic/Latino,White,Roman Catholic,CommonApp,Early Action II,...,NaN,NaN,1,-1.0,-13.0,10.094637,NaN,None,New Mexico,"West, Mountain"
1,2,train,Fall 2019,United States,M,Non Hispanic/Latino,White,Not specified,CommonApp,Early Action I,...,660.0,720.0,0,89.0,11.0,13.878470,NaN,1380.0,Texas,"South, West South Central"
2,3,train,Fall 2020,United States,F,Hispanic/Latino,White,Christian,ApplyTexas,Early Action,...,NaN,NaN,1,38.0,11.0,29.182240,NaN,None,Texas,"South, West South Central"
3,4,train,Fall 2017,United States,F,Non Hispanic/Latino,Asian,Not specified,CommonApp,Early Action I,...,NaN,NaN,0,72.0,2.0,4.112150,NaN,None,Washington,"West, Pacific"
4,5,train,Fall 2019,United States,M,Non Hispanic/Latino,White,Christian,CommonApp,Regular Decision,...,650.0,700.0,0,54.0,11.0,18.601583,NaN,1350.0,Texas,"South, West South Central"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15138,15139,test,Fall 2020,United States,F,Non Hispanic/Latino,Asian,Not specified,CommonApp,Regular Decision,...,NaN,NaN,0,97.0,11.0,16.224847,NaN,None,California,"West, Pacific"
15139,15140,test,Fall 2019,United States,F,Non Hispanic/Latino,Asian,Hindu,CommonApp,Early Action I,...,NaN,NaN,0,36.0,8.0,9.422111,NaN,None,Texas,"South, West South Central"
15140,15141,test,Fall 2020,United States,M,Non Hispanic/Latino,Black or African American,Not specified,CommonApp,Early Action,...,NaN,NaN,0,18.0,11.0,29.182240,NaN,None,Minnesota,"Midwest, West North Central"
15141,15142,test,Fall 2018,United States,F,Non Hispanic/Latino,White,Not specified,CommonApp,Early Action I,...,770.0,740.0,0,88.0,4.0,1.785714,NaN,1510.0,Texas,"South, West South Central"
15142,15143,test,Fall 2019,United States,F,Non Hispanic/Latino,White,Roman Catholic,CommonApp,Early Action I,...,650.0,640.0,1,89.0,34.0,2.222222,NaN,1290.0,Texas,"South, West South Central"

In [66]:
# Citizenship Status and Academic Index - no data cleanup

In [67]:
# Financial Aid Data Cleanup 
# Find missing values
print(TU['Intend to Apply for Financial Aid?'].isna().sum())
# 21 Nas

# Fill missing variables with "0"(since it's either 1 or 0) and since they didn't indicate a 1 for applying financial aid, assume 0 (they don't have an intent to apply for financial aid)
TU['Intend to Apply for Financial Aid?'].fillna(0, inplace = True)
TU['Intend to Apply for Financial Aid?'].value_counts().astype('int') #This is to double check the handling the missing values

21

1.0    10222
0.0     4921
Name: Intend to Apply for Financial Aid?, dtype: int64

In [68]:
# Merit Award Data Cleanup
print(TU['Merit Award'].isna().sum())
# 0 NAS
 

Merit_Awards = pd.read_excel('Admissions Data_Merit Award Codes.xlsx')
Merit_Awards     


# Recategorize all levels into groups - referring to the Merit_Awards Excel file, I use awards ending in 0 and assigning them as no merit, 
# Any row with 'SEM' or 'TTS ' as "Full Ride" and others are assigned as non-full ride.


def merit_award_amount(merit_award):
    if merit_award in ['X0', 'Y0', 'TTS', 'SEM']:    # since these awards are noted as full ride, I have these reclassified as full ride
        return "Full Ride"
    elif merit_award in ['Z0', 'I0']:    # Since these awards have 0, they are no merit
        return "No Merit"
    else:   # Since all the other awards are less than $50,0000 but more than 0, they are non-full ride merit awards
        return "Non-Full Ride"


TU['Merit Award'] = TU['Merit Award'].apply(merit_award_amount)

TU['Merit Award'].value_counts()

0

Non-Full Ride    14835
Full Ride          170
No Merit           138
Name: Merit Award, dtype: int64

In [69]:
print(TU['Merit Award'].isna().sum())

0

In [70]:
# SAT Concordance Score (of SAT R) Data Cleanup
print(TU['SAT Concordance Score (of SAT R)'].isna().sum())
# 6711 NAS
# Since the SAT test changed in 2018, this column is rendered obsolete. Remove this column
TU.drop("SAT Concordance Score (of SAT R)", axis='columns', inplace=True)

6711

In [71]:
# ACT Concordance Score (of SAT R)
print(TU['ACT Concordance Score (of SAT R)'].isna().sum())
# 8222 NAs
# Since the SAT scores were changed, remove the variable
TU.drop("ACT Concordance Score (of SAT R)", axis='columns', inplace=True)

8222

In [72]:
# ACT Concordance Score (of SAT)
print(TU['ACT Concordance Score (of SAT)'].isna().sum())
# 15120 NAs
# Since the SAT scores were changed, remove the variable
TU.drop("ACT Concordance Score (of SAT)", axis='columns', inplace=True)

15120

In [73]:
# Decision - no cleanup since this is the dependent variable